.movies {
  background-color: black;
  .movie-category {
    padding: 35px 10px 10px 6%;
    color: #ffff;
    font-size: 18px;
    font-weight: 600;
  }
  .movie-list {
    height: 120px;
    margin: 0 0 0 5%;
    .movie-content {
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      .movie {
        width: 200px;
        height: 120px;
        margin-left: 10px;
        border-radius: 10px;
        display: inline-block;
        cursor: pointer;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .movie-content::-webkit-scrollbar {
      height: 1px;
    }
  }
}
